In [2]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

# 读入文件

`df.read_csv()` 读入csv文件，默认分隔符为逗号

`df.read_table()` 加载带分隔符的数据，默认分割符为字表符（`\t`）, 读入逗号分隔符文件需指定分隔符。

In [40]:
df=pd.read_table('data/ch06/ex1.csv')
df

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [41]:
df=pd.read_table('data/ch06/ex1.csv',sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 读入无表头文件

+ 默认第一行做表头 
- 表头设置为空：`header=None`
+ 指定表头：`names=[]`
- 指定索引列：`index_col='str'`

In [49]:
pd.read_csv('data/ch06/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [48]:
pd.read_csv('data/ch06/ex2.csv',names=['a','v','c','d','message'],index_col='v')

    a   c   d message
v
2   1   3   4   hello
6   5   7   8   world
10  9  11  12     foo

#### 读入文件并设置多重索引
- `index_col=['key1','key2']`

In [50]:
pd.read_csv('data/ch06/csv_mindex.csv')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [51]:
pd.read_csv('data/ch06/csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16