# 第五章 Pandas入门

## 数据结构

### 创建Series Dataframe 对象

传入嵌套字典

In [26]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [11]:
pop={'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2002:3.6}}
f1=DataFrame(pop)
f1

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   NaN
2002     2.9   3.6

### index的方法和属性<br>
方法|说明
:--|:--
`append` |连接两个 `index` ，产生一个**新的 Index**                                                   
`delete` |删除索引 `i` 处的元素，并得到**新的 Index**
`is_monotonic` |是否单调递增
`is_unique` |`index` 中没有重复项时，返回 `True`
`unique` |计算 index 中唯一值的数组

## 基本功能

### reindex

#### Series

In [39]:
obj=Series(['blue','yellow','red'],index=[0,2,4])
obj2=obj.reindex(range(6),method='ffill')

#### DataFrame
传入一个列表，重新索引行<br>
传入两个 list ,分别重新索引行列<br>
重新索引列：`frame.reindex(columns=list)`

In [40]:
frame=DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['Ohio','Texas','California'])

**对行进行索引**

In [44]:
frame2=frame.reindex(['a','d','b','c'],method="ffill")  
frame2

   Ohio  Texas  California
a     0      1           2
d     6      7           8
b     3      4           5
c     6      7           8

※ **用 method 的前提：**`index must be monotonic increasing or decreasing`
<br>`method='ffill'`
<br>所以d行的值，取自c行：`frame['d']=frame['c']`

In [58]:
frame2.columns=[1,2,3]
frame2.reindex(columns=[1,2,3,4],method='ffill')

   1  2  3  4
a  0  1  2  2
d  6  7  8  8
b  3  4  5  5
c  6  7  8  8

columns 为有序值时，可用 method 确认fill 方式。
<br>当传入两个列表同时 reindex 行列，method 只应用与**行**